@font-face {
	font-family: "jouli";
	src: url("/font/Roboto-Thin.ttf");
}

html {
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 150,255, 0.3);
	overflow: hidden;
	font-family: "jouli";
}

p {
	font-size: 100px;
	font-weight: bold;
}
.smiley {
	font-size: 100px;
	font-family: sans-serif;
}

.couleur {
	background-color: yellow;
	position: absolute;
	border-radius: 500px;
	z-index: 4;
	display: flex;
}

h1 {
	font-style: italic;
	font-size: 50px;
}

h1, p {
	z-index: 3;
}

.marks {
	color: black;
	margin: auto;
	font-size: inherit;
	font-family: sans-serif;
	user-select: none;
}
